.first{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
}
.in1{
    flex: 0 0 200px;
    margin:10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
.in1 img{
    max-width: 100%;
}
.in1 .text{
font-family: cursive;
padding: 0px 20px 20px;
}
.in1 .text>button{
    color: aliceblue;
    background-color: #4b4a4a;
    border: 0;
    width: 100%;
    padding: 10px;
    align-self: center;
    font-family: cursive;
}
.in1 .text>button:hover{
    background-color:#201f1f9f
}